In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('dqs_22-23.csv', header=[0,1])

In [ ]:
df = df.fillna(0)

In [ ]:
first_name = ""
new_columns = []
first = True
for name in df.columns:
    if first:
        first = False
        new_col = tuple([first_name, name[1]])
    elif "Unnamed" in name[0]:
        new_col = tuple([first_name, name[1]])
    else:
        first_name = name[0]
        new_col = name
    new_columns.append(new_col)
df.columns = new_columns

In [ ]:
school = ('', 'SCHOOL')
rows = ['BASEBALL-V','BASKETBALL-V BOYS','BASKETBALL-V GIRLS','FIELD HOCKEY-V','FOOTBALL-V','GOLF-FALL','GOLF-SPRING','GYMNASTICS',
        'ICE HOCKEY-V BOYS','ICE HOCKEY-V GIRLS','INDOOR TRACK','LACROSSE-V BOYS','LACROSSE-V GIRLS','RUGBY BOYS','RUGBY GIRLS',
       'SOCCER-V BOYS','SOCCER-V GIRLS','SOFTBALL-V','SKI','SWIMMING-GIRLS','SWIMMING-BOYS','TENNIS-BOYS','TENNIS-GIRLS',
        'TRACK & FIELD-BOYS','TRACK & FIELD-GIRLS','VOLLEYBALL-V BOYS','VOLLEYBALL-V GIRLS','WRESTLING','X COUNTRY']
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
spring_sports = ['','BASEBALL-V','GOLF-SPRING','LACROSSE-V BOYS','LACROSSE-V GIRLS',
               'RUGBY BOYS','RUGBY GIRLS','SOFTBALL-V','TENNIS-BOYS','TENNIS-GIRLS',
              'TRACK & FIELD-BOYS','TRACK & FIELD-GIRLS','VOLLEYBALL-V BOYS']
other_sports = [val for val in rows if val not in spring_sports]
l = []
for col in df:
    if col[0] not in spring_sports:
        df = df.drop(col, axis=1)
for col in df:
    l.append(col[1])
l = list(set(l))
print(l)
# df.drop([376,377], inplace=True)

In [ ]:
result = pd.DataFrame()

for i in range(df.shape[0]):
    d = {'1 Game':0, '2 Game':0, '1 yr':0, 'Tour':0, 'Coach':0}
    for col in df:
        if col[1] == '1 Game':
            d['1 Game'] += df.iloc[i][col]
        elif col[1] == '2 Game':
            d['2 Game'] += df.iloc[i][col]
        elif col[1] == '1 yr':
            d['1 yr'] += df.iloc[i][col]
        elif col[1] == 'Tour':
            d['Tour'] += df.iloc[i][col]
        elif col[1] == 'Coach':
            d['Coach'] += df.iloc[i][col]
    d['School'] = df.iloc[i][school]
    m = [[d['School'], d['1 Game'], d['2 Game'], d['1 yr'], d['Tour'], d['Coach']]]
    row = pd.DataFrame(m, columns=['School','1 Game','2 Game','1 yr','Tour','Coach'])
    result = pd.concat([result, row], ignore_index=True)
    
# new_df = pd.DataFrame(l, columns =['District', 'League', 'Sport','1 Gm','2 Gm','Tour','1 Yr','Coach','Total','NumSchools'])

result['Total DQs'] = result.sum(axis=1, numeric_only=True)
print(result)
df_spring = result
# df = df.loc[df['Total DQs'] != 0]
# df.reset_index(drop=True, inplace=True)

In [ ]:
df_spring.to_csv('dqs_spring_23_varsity.csv')

# Use above to save to a csv file. Need to make further edits for now.

In [ ]:
df = pd.read_csv('dqs_23-24.csv', header=[0,1])
df = df.fillna(0)

In [ ]:
first_name = ""
new_columns = []
first = True
for name in df.columns:
    if first:
        first = False
        new_col = tuple([first_name, name[1]])
    elif "Unnamed" in name[0]:
        new_col = tuple([first_name, name[1]])
    else:
        first_name = name[0]
        new_col = name
    new_columns.append(new_col)
df.columns = new_columns

In [ ]:
school = ('', 'SCHOOL')
rows = ['','BASEBALL-V','BASKETBALL-V BOYS','BASKETBALL-V GIRLS','FIELD HOCKEY-V','FOOTBALL-V','GOLF-FALL','GOLF-SPRING','GYMNASTICS',
        'ICE HOCKEY-V BOYS','ICE HOCKEY-V GIRLS','INDOOR TRACK','LACROSSE-V BOYS','LACROSSE-V GIRLS','RUGBY BOYS','RUGBY GIRLS',
       'SOCCER-V BOYS','SOCCER-V GIRLS','SOFTBALL-V','SKI','SWIMMING-GIRLS','SWIMMING-BOYS','TENNIS-BOYS','TENNIS-GIRLS',
        'TRACK & FIELD-BOYS','TRACK & FIELD-GIRLS','VOLLEYBALL-V BOYS','VOLLEYBALL-V GIRLS','WRESTLING','X COUNTRY']
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
spring_sports = ['BASEBALL-V','GOLF-SPRING','LACROSSE-V BOYS','LACROSSE-V GIRLS',
               'RUGBY BOYS','RUGBY GIRLS','SOFTBALL-V','TENNIS-BOYS','TENNIS-GIRLS',
              'TRACK & FIELD-BOYS','TRACK & FIELD-GIRLS','VOLLEYBALL-V BOYS']
other_sports = [val for val in rows if val not in spring_sports]
l = []
for col in df:
    if col[0] not in other_sports:
        df = df.drop(col, axis=1)
for col in df:
    l.append(col[1])
l = list(set(l))
print(l)
print(df)
df.drop([374,375], inplace=True)

In [ ]:
result = pd.DataFrame()

for i in range(df.shape[0]):
    d = {'1 Game':0, '2 Game':0, '1 yr':0, 'Tour':0, 'Coach':0}
    for col in df:
        if col[1] == '1 Game':
            d['1 Game'] += df.iloc[i][col]
        elif col[1] == '2 Game':
            d['2 Game'] += df.iloc[i][col]
        elif col[1] == '1 yr':
            d['1 yr'] += df.iloc[i][col]
        elif col[1] == 'Tour':
            d['Tour'] += df.iloc[i][col]
        elif col[1] == 'Coach':
            d['Coach'] += df.iloc[i][col]
    d['School'] = df.iloc[i][school]
    m = [[d['School'], d['1 Game'], d['2 Game'], d['1 yr'], d['Tour'], d['Coach']]]
    row = pd.DataFrame(m, columns=['School','1 Game','2 Game','1 yr','Tour','Coach'])
    result = pd.concat([result, row], ignore_index=True)
    

result['Total DQs'] = result.sum(axis=1, numeric_only=True)
print(result)
df_other = result
# df = df.loc[df['Total DQs'] != 0]
# df.reset_index(drop=True, inplace=True)

In [ ]:
# Syntax : DataFrame.join(other, on=None, how=’left’, lsuffix=”, rsuffix=”, sort=False)
df = pd.merge(df_spring, df_other, on='School')

In [ ]:
df['1 Game'] = df['1 Game_x'] + df['1 Game_y']
df['2 Game'] = df['2 Game_x'] + df['2 Game_y']
df['1 yr'] = df['1 yr_x'] + df['1 yr_y']
df['Tour'] = df['Tour_x'] + df['Tour_y']
df['Coach'] = df['Coach_x'] + df['Coach_y']
df['Total DQs'] = df['Total DQs_x'] + df['Total DQs_y']
df = df.drop(['1 Game_x','2 Game_x','1 yr_x','Tour_x','Coach_x','Total DQs_x','1 Game_y','2 Game_y','1 yr_y','Tour_y','Coach_y','Total DQs_y'], axis=1)

In [ ]:
df = df.loc[df['Total DQs'] > 1]
df.reset_index(drop=True, inplace=True)
print(df)

In [ ]:
df.to_csv('dqs_s23-w24_varsity.csv')

In [ ]:
df_other.to_csv('dqs_fw24_varsity.csv')