In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('disqualifications_noleague.csv', header=[0,1])

In [ ]:
df = df.fillna(0)

In [ ]:
first_name = ""
new_columns = []
first = True
for name in df.columns:
    if first:
        first = False
        new_col = tuple([first_name, name[1]])
    elif "Unnamed" in name[0]:
        new_col = tuple([first_name, name[1]])
    else:
        first_name = name[0]
        new_col = name
    new_columns.append(new_col)
df.columns = new_columns

In [ ]:
print(df.head())

In [ ]:
school = ('', 'SCHOOL')
district = ('', 'District')
league = ('', 'League')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

lg_school = ('SUSPENDED STUDENTS 2023-2024','SCHOOL')
lg_league = ('Unnamed: 3_level_0', 'League')

ldf = pd.read_csv('dqs_old_withleague.csv', header=[0,1])
lgs = ldf[[lg_school,lg_league]].copy()
lgs.columns = [school, league]
lgs = lgs.loc[lgs[school] != 'TOTAL SCHOOLS  (FY24)']
lg_dict = dict(zip(lgs[school], lgs[league]))
print(lg_dict)

In [ ]:
def get_league(row):
    school = ('', 'SCHOOL')
    district = ('', 'District')
    league = ('', 'League')
    curSchool = row[school]
    if curSchool in lg_dict.keys():
        return lg_dict[curSchool]
    else:
        return ''

df[league] = df.apply(get_league, axis=1)
print(df.head())

In [ ]:
df = df.loc[df[league] != '']
print(df[league].value_counts())

In [ ]:
def generate_new_df(df, district, league):
    sums = df.select_dtypes(np.number).sum().rename('totals')
    l = []
    div = league
    n = ''
    v = ''
    dis = district
    cur = []
    first = True
    second = True
    total = 0
    for name, val in sums.index:
        if first: 
            first = False
        else:
            if name == n:
                cur.append(sums[(name,val)])
                total += sums[(name,val)]
            else:
                if not second:
                    cur.append(total)
                    cur.append(df.shape[0])
                    l.append(cur)
                    total = 0
                else:
                    second = False
                cur = [dis, div, name]
                n = name
                cur.append(sums[(name,val)])
                total += sums[(name,val)]
                                       
    new_df = pd.DataFrame(l, columns =['District', 'League', 'Sport','1 Gm','2 Gm','Tour','1 Yr','Coach','Total','NumSchools'])
    new_df = new_df.loc[new_df['Total'] != 0]
    return new_df

result = pd.DataFrame()
for i in range(1,10):
    cur_dis = i
    cur_district = df.loc[df[district] == cur_dis]
    for lg in cur_district[league].unique():
        cur_df = cur_district.loc[cur_district[league] == lg]
        created = generate_new_df(cur_df, cur_dis, lg)
        result = pd.concat([result, created], ignore_index=True)
        
result = result.loc[result['Sport'] != 'TOTALS']
print(result)

In [ ]:
result = result.sort_values(by=['Sport', 'District', 'League'], axis=0, ascending=True, ignore_index=True)
print(result)

In [ ]:
print(result['1 Gm'].sum())

In [ ]:
df = result
for sport in df['Sport'].unique():
    cur = df.loc[df['Sport'] == sport]
    l = ['T', '', sport, cur['1 Gm'].sum(), cur['2 Gm'].sum(), cur['Tour'].sum(), 
         cur['1 Yr'].sum(), cur['Coach'].sum(), cur['Total'].sum(), '']
    ldf = pd.DataFrame([l], columns = df.columns)
    df = pd.concat([df, ldf], ignore_index=True)
df = df.sort_values(by=['Sport', 'District', 'League'], axis=0, ascending=True, ignore_index=True)
print(df)

In [ ]:
df.to_csv('2023-24_dqs_LeagueSport.csv')

# Use above to save to a csv file. Need to make further edits for now.

In [ ]:
# result = result.loc[result['Sport'] != 'TOTALS']
# by_total = result.sort_values(by='Total', axis=0, ascending=False, ignore_index=True)
# by_total.to_csv('dqs_by_total.csv')

# Use above to remove rows labeled TOTALS, sort the values based on the column 'Total', and write to a .csv file.

In [ ]:
# by_total = result.sort_values(by='Total', axis=0, ascending=False, ignore_index=True)

In [ ]:
# sports = result['Sport'].unique()
# by_sport = pd.DataFrame()
# for s in sports:
#     current = result.loc[result['Sport'] == s]
#     current = current.sort_values(by='Total', axis=0, ascending=False, ignore_index=True)
#     by_sport = pd.concat([by_sport, current], ignore_index=True)

In [ ]:
## for each unique sport, separate out the dataframe, sort by Total, and then recombine to one full dataframe
# by_sport.to_csv('dqs_by_sport.csv')

In [ ]:
# dqs_by_numSchools = result.sort_values(by='DQ per School', axis=0, ascending=False, ignore_index=True)
# dqs_by_numSchools.to_csv('dqs_per_school.csv')

In [ ]:
sports = result['Sport'].unique()
by_sport_df = pd.DataFrame()
for s in sports:
    current_sport = result.loc[result['Sport'] == s]
    ordered_district_df = pd.DataFrame()
    districts = result['District'].unique()
    for d in districts:
        cur = current_sport.loc[current_sport['District'] == d]
        cur = cur.sort_values(by='League', axis=0, ascending=True, ignore_index=True)
        ordered_district_df = pd.concat([ordered_district_df, cur], ignore_index=True)
    by_sport_df = pd.concat([by_sport_df, ordered_district_df], ignore_index=True)
print(by_sport_df)
# add the totals and make .csv, then you're done pending some Excel formatting.

In [ ]:
sports = by_sport_df['Sport'].unique()
by_sport_with_totals = pd.DataFrame()
for s in sports:
    current_sport = by_sport_df.loc[by_sport_df['Sport'] == s]
    current_sport.loc['TOTAL'] = current_sport.sum()
    current_sport.at['TOTAL','District'] = 'T'
    current_sport.at['TOTAL','League'] = 'TOTAL'
    current_sport.at['TOTAL','Sport'] = s
    current_sport.at['TOTAL','NumSchools'] = '-'
    current_sport.at['TOTAL','DQ per School'] = '-'
    by_sport_with_totals = pd.concat([by_sport_with_totals, current_sport], ignore_index=True)
print(by_sport_with_totals)
by_sport_with_totals.to_csv('dqs_by_sport_with_totals.csv')