In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('dqs_23-24_all.csv', header=[0,1])
df = df.fillna(0)

first_name = ""
new_columns = []
first = True
for name in df.columns:
    if first:
        first = False
        new_col = tuple([first_name, name[1]])
    elif "Unnamed" in name[0]:
        new_col = tuple([first_name, name[1]])
    else:
        first_name = name[0]
        new_col = name
    new_columns.append(new_col)
df.columns = new_columns

school = ('', 'SCHOOL')
sports = ['','BASEBALL-V','BASKETBALL-V BOYS','BASKETBALL-V GIRLS','FIELD HOCKEY-V','FOOTBALL-V','GOLF-FALL','GOLF-SPRING','GYMNASTICS',
        'Ice Hockey-V BOYS','Ice Hockey-V GIRLS','INDOOR TRACK','LACROSSE-V BOYS','LACROSSE-V GIRLS','RUGBY BOYS','RUGBY GIRLS',
       'SOCCER-V BOYS','SOCCER-V GIRLS','SOFTBALL-V','SKI','SWIMMING-GIRLS','SWIMMING-BOYS','TENNIS-BOYS','TENNIS-GIRLS',
        'TRACK & FIELD-BOYS','TRACK & FIELD-GIRLS','VOLLEYBALL-V BOYS','VOLLEYBALL-V GIRLS','WRESTLING','X COUNTRY',
        'BASEBALL-V','GOLF-SPRING','LACROSSE-V BOYS','LACROSSE-V GIRLS','RUGBY BOYS','RUGBY GIRLS','SOFTBALL-V','TENNIS-BOYS',
        'TENNIS-GIRLS','TRACK & FIELD-BOYS','TRACK & FIELD-GIRLS','VOLLEYBALL-V BOYS']
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

l = []
for col in df:
    if col[0] not in sports:
        print(col)
        df = df.drop(col, axis=1)
for col in df:
    l.append(col[1])
l = list(set(l))
print(l)

In [ ]:
result = pd.DataFrame()

for i in range(df.shape[0]):
    scname = df.iloc[i][school]
    old_name = ''
    for col in df:
        m = [(scname,col[0])]
        if col[1] == '1 Game':
            m.append(df.iloc[i][col])
            m.append(0)
            m.append(0)
            m.append(0)
            m.append(0)
        elif col[1] == '2 Game':
            m.append(0)
            m.append(df.iloc[i][col])
            m.append(0)
            m.append(0)
            m.append(0) 
        elif col[1] == '1 yr':
            m.append(0)
            m.append(0) 
            m.append(df.iloc[i][col])
            m.append(0)
            m.append(0)
        elif col[1] == 'Tour':
            m.append(0)
            m.append(0) 
            m.append(0)
            m.append(df.iloc[i][col])
            m.append(0)
        elif col[1] == 'Coach':
            m.append(0)
            m.append(0) 
            m.append(0)
            m.append(0)
            m.append(df.iloc[i][col])
        else:
            continue
        row = pd.DataFrame([m], columns=['SchoolSport','1 Game','2 Game','1 yr','Tour','Coach'])
        result = pd.concat([result, row], ignore_index=True)
    
# result['Total DQs'] = result.sum(axis=1, numeric_only=True)

In [ ]:
res = pd.DataFrame()
for ss in result['SchoolSport'].unique():
    cur = result[result['SchoolSport'] == ss]
    m = [ss[0], ss[1]]
    m.append(cur['1 Game'].sum())
    m.append(cur['2 Game'].sum())
    m.append(cur['1 yr'].sum())
    m.append(cur['Tour'].sum())
    m.append(cur['Coach'].sum())
    mr = pd.DataFrame([m], columns=['School','Sport','1 Game','2 Game','1 yr','Tour','Coach'])
    res = pd.concat([res, mr], ignore_index=True)

In [ ]:
df = res
df['Total DQs'] = df.sum(axis=1, numeric_only=True)
df = df.loc[df['Total DQs'] > 1]
print(df)

In [ ]:
df = df.loc[df['School'] != 'TOTAL SCHOOLS  (FY24)']
df.reset_index(drop=True, inplace=True)
print(df)

In [ ]:
# df.to_csv('dqs_s23_varsity.csv')
# df_spring = df

In [ ]:
df = df.sort_values('School', ignore_index=True)
print(df)

In [ ]:
df.to_csv('dqs_23-24_sorted.csv')

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('dqs_23-24.csv', header=[0,1])
df = df.fillna(0)

first_name = ""
new_columns = []
first = True
for name in df.columns:
    if first:
        first = False
        new_col = tuple([first_name, name[1]])
    elif "Unnamed" in name[0]:
        new_col = tuple([first_name, name[1]])
    else:
        first_name = name[0]
        new_col = name
    new_columns.append(new_col)
df.columns = new_columns

school = ('', 'SCHOOL')
rows = ['','BASEBALL-V','BASKETBALL-V BOYS','BASKETBALL-V GIRLS','FIELD HOCKEY-V','FOOTBALL-V','GOLF-FALL','GOLF-SPRING','GYMNASTICS',
        'Ice Hockey-V BOYS','Ice Hockey-V GIRLS','INDOOR TRACK','LACROSSE-V BOYS','LACROSSE-V GIRLS','RUGBY BOYS','RUGBY GIRLS',
       'SOCCER-V BOYS','SOCCER-V GIRLS','SOFTBALL-V','SKI','SWIMMING-GIRLS','SWIMMING-BOYS','TENNIS-BOYS','TENNIS-GIRLS',
        'TRACK & FIELD-BOYS','TRACK & FIELD-GIRLS','VOLLEYBALL-V BOYS','VOLLEYBALL-V GIRLS','WRESTLING','X COUNTRY']
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

spring_sports = ['BASEBALL-V','GOLF-SPRING','LACROSSE-V BOYS','LACROSSE-V GIRLS',
               'RUGBY BOYS','RUGBY GIRLS','SOFTBALL-V','TENNIS-BOYS','TENNIS-GIRLS',
              'TRACK & FIELD-BOYS','TRACK & FIELD-GIRLS','VOLLEYBALL-V BOYS']
other_sports = [val for val in rows if val not in spring_sports]
l = []
for col in df:
    if col[0] not in other_sports:
        df = df.drop(col, axis=1)
for col in df:
    l.append(col[1])
l = list(set(l))
print(l)

In [ ]:
result = pd.DataFrame()

for i in range(df.shape[0]):
    scname = df.iloc[i][school]
    for col in df:
        m = [(scname,col[0])]
        if col[1] == '1 Game':
            m.append(df.iloc[i][col])
            m.append(0)
            m.append(0)
            m.append(0)
            m.append(0)
        elif col[1] == '2 Game':
            m.append(0)
            m.append(df.iloc[i][col])
            m.append(0)
            m.append(0)
            m.append(0) 
        elif col[1] == '1 yr':
            m.append(0)
            m.append(0) 
            m.append(df.iloc[i][col])
            m.append(0)
            m.append(0)
        elif col[1] == 'Tour':
            m.append(0)
            m.append(0) 
            m.append(0)
            m.append(df.iloc[i][col])
            m.append(0)
        elif col[1] == 'Coach':
            m.append(0)
            m.append(0) 
            m.append(0)
            m.append(0)
            m.append(df.iloc[i][col])
        else:
            continue
        row = pd.DataFrame([m], columns=['SchoolSport','1 Game','2 Game','1 yr','Tour','Coach'])
        result = pd.concat([result, row], ignore_index=True)
    
# result['Total DQs'] = result.sum(axis=1, numeric_only=True)

In [ ]:
res = pd.DataFrame()
for ss in result['SchoolSport'].unique():
    cur = result[result['SchoolSport'] == ss]
    m = [ss[0], ss[1]]
    m.append(cur['1 Game'].sum())
    m.append(cur['2 Game'].sum())
    m.append(cur['1 yr'].sum())
    m.append(cur['Tour'].sum())
    m.append(cur['Coach'].sum())
    mr = pd.DataFrame([m], columns=['School','Sport','1 Game','2 Game','1 yr','Tour','Coach'])
    res = pd.concat([res, mr], ignore_index=True)

In [ ]:
df = res
df['Total DQs'] = df.sum(axis=1, numeric_only=True)
df = df.loc[df['Total DQs'] > 1]
print(df)

In [ ]:
df = df.loc[df['School'] != 'TOTAL SCHOOLS  (FY24)']
df.reset_index(drop=True, inplace=True)
print(df)

In [ ]:
df.to_csv('dqs_f23w24_varsity.csv')
df_fw = df

In [ ]:
df_all = pd.concat([df_spring, df_fw], ignore_index=True)

In [ ]:
print(df_all)

In [ ]:
df_all = df_all.sort_values('School', ignore_index=True)
print(df_all)

In [ ]:
df_all.to_csv('dqs_sf23-w24_varsity.csv')